body {
	background-image: url('../images/space.jpg');
}


// Label Styles

ul {
	text-align: center;
	
	li {
		padding-top: 20px;
		display: inline-block;
		font-family: Helvetica;
		font-size: 30px;
		margin-right: 25px;
		opacity: 0;
		text-shadow: 0 0 2px white;
	}
}

.mercuryLabel {
	color: #D3D3D3;
}

.venusLabel {
	color: #D1C5AB;
}

.earthLabel {
	color: #597755;
}

.marsLabel {
	color: #B99B82;
}

.jupiterLabel {
	color: #8C522D;
}

.saturnLabel {
	color: #DCBC79;
}

.uranusLabel {
	color: #C1E7EA;
}

.neptuneLabel {
	color: #4369FE;
}


// Planet Styles

.planet {
	position: absolute;
	cursor: pointer;
	top: 300px;
	background-size: contain;
}

#mercury {
	background-image: url('../images/mercury.png');
	left: 50px;
	width: 75px;
	height: 75px;
}

#venus {
	background-image: url('../images/venus.png');
	left: 150px;
	width: 100px;
	height: 100px;
}

#earth {
	background-image: url('../images/earth.png');
	left: 275px;
	width: 110px;
	height: 110px;
}

#mars {
	background-image: url('../images/mars.png');
	left: 400px;
	width: 85px;
	height: 85px;
}

#jupiter {
	background-image: url('../images/jupiter.png');
	left: 525px;
	width: 250px;
	height: 250px;
}

#saturn {
	background-image: url('../images/saturn.png');
	left: 775px;
	width: 200px;
	height: 200px;
}

#uranus {
	background-image: url('../images/uranus.png');
	left: 1000px;
	width: 100px;
	height: 100px;
}

#neptune {
	background-image: url('../images/neptune.png');
	left: 1150px;
	width: 100px;
	height: 100px;
}